name: Pull Request Check (Jetpack Compose)

on:
  pull_request:
    branches:
      - main
      - master 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Clean project
      run: ./gradlew clean

    - name: Decode google-services.json
      run: |
        echo "$GOOGLE_SERVICES_JSON" | base64 -d > app/google-services.json
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

    - name: Reconstruct Constants.kt
      run: |
        mkdir -p app/src/main/java/com/example/myhealthpassport/utils
        echo "$CONSTANTS_KT" | base64 -d > app/src/main/java/com/example/myhealthpassport/utils/Constants.kt
      env:
        CONSTANTS_KT: ${{ secrets.CONSTANTS_KT }}

    - name: Build debug APK
      run: ./gradlew assembleDebug

    - name: Run unit tests
      run: ./gradlew testDebugUnitTest

    - name: Lint check
      run: ./gradlew lintDebug
